<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        urlscan.io search resutls for
        <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
        <p ng-if="content.results.length == 0">
            No result found.
        </p>
        <table class="table" ng-if="content.results">
            <thead>
                <th>URL</th>
                <th>Result</th>
                <th>Time</th>
            </thead>
            <tbody ng-repeat="r in content.results">
                <tr>
                    <td>{{r.page.url}}</td>
                    <td><a href="{{r.result}}">{{r.result}}</a></td>
                    <td>{{r.task.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" ng-if="content.errorMessage">
            <dt>
                <i class="fa fa-warning"></i> PassiveDNS: </dt>
            <dd class="wrap">{{content.errorMessage}}</dd>
        </dl>
    </div>
</div>
